@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    font-family: 'DotGothic16', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: #42CF7A;
}
.container {
    padding: 1px;
    display: flex;
    max-width: 1000px;
    height: 100%;
    flex-direction: column;
    margin: auto;
}
.container > .inside {
    flex: 1;
}
h1.title {
    font-size: 3em;
}
.seletion {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px;
}
.rounds {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.rounds > .current-round  {
    font-size: 2em;
}
.rounds > .result {
    display: flex;
    align-items: center;
    background-color: black;
    height: 35px;
    color: #42CF7A;
    max-width: 450px;
    margin: auto;
    border-radius: 5px;
    padding: 0px 20px;
    border: 1px solid grey;
}
.container-icons {
    display: flex;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    transition: all 0.09s ease;
    padding: 5px;
    cursor: pointer;
}
.container-icons:hover {
    transform: scale(1.05);
    border: 1px solid #42CF7A;
    box-shadow: 2px 1px 10px #42CF7A;
}
img.game-icon {
    width: 150px;
    height: 150px;
    padding: 10px;
}
.score-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 10px;
    
}
img.score-icon {
    width: 100px;
    height: 90px;
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
}



/*Aninmation*/
.result::after {
    content: "|";
    opacity: 1;
    animation: pisca 1s infinite;
    font-size: 20px;
}

@keyframes pisca {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

